# Node
node_modules/
dist/
build/
.npmrc
npm-debug.log*

# Editors/OS
.DS_Store
*.swp
.idea/
.vscode/
coverage/
.cache/

# Env
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/
.venv*/

# Playwright
playwright/.auth/
playwright-report/
test-results/

# Prisma
packages/api/prisma/migrations/

# SvelteKit
packages/ui/.svelte-kit/
packages/ui/build/

# Docker artifacts
*-image.tar
